@charset "UTF-8";
/* line 1, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
img {
  width: 100%;
}

/* line 11, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

/* line 24, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* line 28, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* line 39, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
[tabindex="-1"]:focus {
  outline: none !important;
}

/* line 43, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 49, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* line 54, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 59, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

/* line 68, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

/* line 74, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 81, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* line 88, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
dt {
  font-weight: 700;
}

/* line 92, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* line 97, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
blockquote {
  margin: 0 0 1rem;
}

/* line 101, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
dfn {
  font-style: italic;
}

/* line 105, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 110, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
small {
  font-size: 80%;
}

/* line 114, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 122, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
sub {
  bottom: -.25em;
}

/* line 126, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
sup {
  top: -.5em;
}

/* line 130, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 137, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* line 142, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

/* line 147, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

/* line 152, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* line 156, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 164, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* line 171, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
figure {
  margin: 0 0 1rem;
}

/* line 175, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 180, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 184, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 197, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
table {
  border-collapse: collapse;
}

/* line 201, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

/* line 209, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
th {
  text-align: inherit;
}

/* line 213, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
label {
  display: inline-block;
  margin-bottom: .5rem;
}

/* line 218, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
button {
  border-radius: 0;
}

/* line 222, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* line 227, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 238, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
button,
input {
  overflow: visible;
}

/* line 243, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 248, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 255, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* line 263, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 269, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

/* line 276, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
textarea {
  overflow: auto;
  resize: vertical;
}

/* line 281, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 288, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

/* line 300, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
progress {
  vertical-align: baseline;
}

/* line 304, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 309, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

/* line 314, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 319, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

/* line 324, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
output {
  display: inline-block;
}

/* line 328, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
summary {
  display: list-item;
}

/* line 332, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
template {
  display: none;
}

/* line 336, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_reset.scss */
[hidden] {
  display: none !important;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?30190456");
  src: url("../font/fontello.eot?30190456#iefix") format("embedded-opentype"), url("../font/fontello.woff?30190456") format("woff"), url("../font/fontello.ttf?30190456") format("truetype"), url("../font/fontello.svg?30190456#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_fonts.scss */
.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 31, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/_fonts.scss */
.icon-dot-3 {
  transform: rotate(90deg);
}

/* line 6, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
body {
  background: url("../img/lauzanne_bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 14, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
html, body {
  height: 100%;
}

/* line 18, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.container {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

/* line 28, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 33, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
a:hover {
  color: #C1907D;
  text-decoration: none;
}

/* line 38, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #44474F;
  height: 100px;
}

/* line 44, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar .onglet {
  line-height: 100px;
  text-align: center;
  color: white;
}

/* line 50, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar .onglet:nth-child(1) {
  width: 25%;
  padding-left: 10px;
}

/* line 54, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar .onglet:nth-child(1) a {
  padding: 2em 0;
}

/* line 58, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar .onglet:nth-child(1) div {
  text-align: left;
}

/* line 61, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar .onglet:nth-child(1) div img {
  max-width: 180px;
}

/* line 67, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar .onglet:nth-child(2) {
  width: 40%;
  font-size: 12px;
}

/* line 72, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar .onglet:nth-child(3) {
  width: 25%;
}

/* line 75, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar .onglet:nth-child(3) a {
  display: inline-block;
  width: 100%;
}

/* line 80, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar .onglet:nth-child(3) i {
  font-style: normal;
}

/* line 84, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar .onglet:nth-child(3) ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 92, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.navbar .onglet:nth-child(3) ul li {
  width: 100%;
}

/* line 99, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.tabs {
  display: flex;
  justify-content: center;
}

/* line 103, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.tabs a {
  font-size: 20px;
  display: inline-block;
  width: 100%;
  padding: 1em 0;
}

/* line 110, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.tabs a:hover {
  color: #232323;
}

/* line 114, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.tabs ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 123, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.tabs ul li {
  text-align: center;
  background-color: rgba(35, 35, 35, 0.6);
  margin: 1px 10%;
}

/* line 129, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.tabs ul li:hover {
  background-color: rgba(211, 206, 213, 0.7);
}

/* line 135, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.contact {
  display: none;
}

/* line 139, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
.weather {
  display: none;
}

@media screen and (min-width: 768px) {
  /* line 148, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .tabs ul {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  /* line 153, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .tabs ul li {
    margin: 1px;
    width: 30%;
  }
  /* line 160, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .contact {
    display: flex;
  }
  /* line 163, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .contact i {
    font-size: 21px;
    font-style: normal;
    padding: 20px;
    display: inline-block;
    width: 60px;
    margin: 0;
  }
  /* line 172, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .contact a {
    display: inline-block;
    width: 100%;
  }
  /* line 177, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .contact a:hover {
    color: white;
  }
  /* line 181, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .contact ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  /* line 187, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .contact ul li {
    width: 60px;
    background-color: #2682C2;
  }
  /* line 191, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .contact ul li i:last-of-type {
    display: none;
  }
  /* line 196, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .contact ul li:hover {
    width: 100%;
    background-color: #10435F;
  }
  /* line 200, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .contact ul li:hover i:last-of-type {
    display: inline;
  }
}

@media screen and (min-width: 992px) {
  /* line 211, ../César/Documents/MIW/Integration_2/github/tp_css_2/scss/style.scss */
  .weather {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */