@import 'reset';
@import 'fonts';

$navHeight: 100px;

body {
   background: url('../img/lauzanne_bg.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

html, body {
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.container {
   // margin: auto 0;
   // max-width: 992px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}

a {
   color: white;
   text-decoration: none;
}

a:hover {
   color: #C1907D;
   text-decoration: none;
}

.navbar {
   display: flex;
   justify-content: space-between;
   background-color: #44474F;
   height: $navHeight;

   .onglet {
      line-height: $navHeight;
      text-align: center;
      color: white;
   }

   .onglet:nth-child(1) {
      width: 25%;
      padding-left: 10px;

      a {
         padding: 2em 0;
      }

      div {
         text-align: left;

         img {
            max-width: 180px;
         }
      }
   }

   .onglet:nth-child(2) {
      width: 40%;
      font-size: 12px;
   }

   .onglet:nth-child(3) {
      width: 25%;

      a {
         display: inline-block;
         width: 100%;
      }

      i {
         font-style: normal;
      }

      ul {
         display: flex;
         justify-content: space-around;
         text-decoration: none;
         list-style: none;
         padding: 0;
         margin: 0;

         li {
            width: 100%;
         }
      }
   }
}

.tabs {
   display: flex;
   justify-content: center;

   a {
      font-size: 20px;
      display: inline-block;
      width: 100%;
      padding: 1em 0;
   }

   a:hover {
      color: #232323;
   }

   ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
         text-align: center;
         background-color: rgba(35, 35, 35, 0.6);
         margin: 1px 10%;
      }

      li:hover {
         background-color: rgba(211, 206, 213, 0.7);
      }
   }
}

.contact {
   display: none;
}

.weather {
   display: none;
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {

   .tabs {

      ul {
         width: 100%;
         flex-direction: row;
         justify-content: center;

         li {
            margin: 1px;
            width: 30%;
         }
      }
   }

   .contact {
      display: flex;

      i {
         font-size: 21px;
         font-style: normal;
         padding: 20px;
         display: inline-block;
         width: 60px;
         margin: 0;
      }

      a {
         display: inline-block;
         width: 100%;
      }

      a:hover {
         color: white;
      }

      ul {
         text-decoration: none;
         list-style: none;
         padding: 0;
         margin: 0;

         li {
            width: 60px;
            background-color: #2682C2;

            i:last-of-type {
               display: none;
            }
         }

         li:hover {
            width: 100%;
            background-color: #10435F;

            i:last-of-type {
               display: inline;
            }
         }
      }
   }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {

   .weather {
      display: block;
   }
}
